#timeline-tracks {
  width: 100%;
  overflow-x: scroll;
  background-color: #cccccc;
}

#ruler {
  position: relative;
  background-color: #eeeeee;
  width: 100%;
  height: 50px;
}

.tick {
  position: absolute;
  width: 1px;
  background-color: black;
}

.track {
  position: relative;
  border-top: solid 1px #999999;
  background-color: #aaaaff;
  height: 80px;
}

.clip {
  position: absolute;
  height: 80px;
  box-sizing: border-box;
  background-color: #ccccff;
  border: solid 1px #8888ff;
}

.clip.selected {
  background-color: #bbbbff;
}