#timeline-tracks {
  width: 100%;
  overflow-x: scroll;
  background-color: #cccccc;
}

#ruler {
  position: relative;
  background-color: #eeeeee;
  width: 100%;
  height: 50px;
}

.tick {
  position: absolute;
  width: 1px;
  background-color: black;
}